@font-face {
    font-family: "lausanne";
    src: url("fonts/Lausanne-300.otf") format("opentype"), url("fonts/Lausanne-300Italic.otf") format("opentype"), url("fonts/Lausanne-800.otf") format("opentype"), url("fonts/Lausanne-800Italic.otf") format("opentype");
}

body {
    margin: 0;
    padding: 0;
    font-family: "lausanne";
    background-color: rgb(197, 201, 206);
}
.main-section {
    height: 900px ;
    background-color: aquamarine;
    background: url(images/image-01-mobile.jpg) no-repeat;
}
.main-header {
    display: flex;
    justify-content: space-between;
    padding: 28px 10px;
    font-weight: bold;
    font-size: 24px;
}
.link-menu{
    color: white;
    text-decoration: none;
}
.main-options {
    color: white;
    text-align: center;
    text: bold;
    font-size: 25px;
    padding-top: 78px;
    
}
.options-list {
    list-style: none;
    padding-inline-start: 0px;
}
li {
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 35px;
}
.footer-section {
    height: 727px;
    background: url(images/image-02-mobile.png) no-repeat;
    padding: 41px 10px;
    text-align: center;
}
p {
    padding-inline: 30px;
    margin-top: 50px;
}
