
.house-header {
    display: flex;
    justify-content: space-between;
    padding: 28px 15px;
    font-weight: bold;
    font-size: 24px;
}

.link-menu{
    color: black;
    text-decoration: none;
}
.l-house-gallery {
    display: flex;
    margin: 0px;
    padding-top: 15px;
    width: 100%;
    background-position: center;
    text-align: center; 
}

@media screen and (min-width: 768px) {
    .l-house-gallery {
        pointer-events:none;
    }
}

.l-house-image {
    padding: 0px;
    margin: 0px;  
}
.house-image {
    display: block;
    width: 100%;
    height: auto;
}
.house-modal {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}

.house-modal.show {
    position: fixed;
    height: 4000px; 
    width: 100%;
    opacity: 1;
}

.house-modal.hide {
    opacity: 0;
}
.modal-content {
    padding: 38px 20px 0px 20px ;
    text-align: left;
}
.modal-content p {
    padding-bottom: 0px;
}
 @media screen and (min-width: 768px) {
    .house-header {
        font-size: 45px;
    }
 }