
.always-mobile-section{
    padding-bottom: 48px;
}
.always-mobile-header {
    display: flex;
    justify-content: space-between;
    padding: 28px 15px;
    font-weight: bold;
    font-size: 24px;
}
.link-menu {
    color: black;
    text-decoration: none;
}
.text-mobile {
    padding: 15px;
}
.informations {
    padding: 35px 15px 40px 15px ;
}
.informations p {
    padding-bottom: 20px;
}
