@font-face {
    font-family: "Lausanne";
    src: url("../fonts/Lausanne-300.otf") format("opentype"), url("../fonts/Lausanne-300Italic.otf") format("opentype"), url("../fonts/Lausanne-800.otf") format("opentype"), url("../fonts/Lausanne-800Italic.otf") format("opentype");
}
body {
    margin: 0;
    padding: 0;
    font-family: "Lausanne", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.desk-menu {
    display: none;
}
.footer-section {
    width: 100%;
    height: 727px;
    background-image: url(../images/image-footer-mobile.png);
    padding-top: 41px;
    text-align: center;
    background-color: rgb(197, 201, 206);
    background-position: center;
    text-align: center; 
    background-repeat: no-repeat;
}
.footer-section p {
    padding-top: 51px;
}

@media screen and (min-width: 768px) {
    .desk-menu {
        display: inline;
    }
    .footer-section {
        background-image: url(../images/image-footer-desktop.jpg); 
        background-repeat: no-repeat;
    }
}

.link-menu{
    color: white;
    font-size: 24px;
    font-weight: 800;
    text-decoration: none;
    padding-right: 15px;
}
