
.main-section {
    height: 900px ;
    background-color: aquamarine;
    background: url(../images/image-01-mobile.jpg) no-repeat;
}
.home-header {
    display: flex;
    justify-content: space-between;
    padding: 28px 15px;
    font-weight: bold;
    font-size: 24px;
}
.link-menu{
    color: white;
    text-decoration: none;
}
.home-options {
    color: white;
    text-align: center;
    text: bold;
    font-size: 25px;
    padding-top: 78px; 
}
.options-list {
    list-style: none;
    padding-inline-start: 0px;
}
.link-options{
    color: white;
    text-decoration: none;
}
li {
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 35px;
}
.footer-section {
    height: 727px;
    background: url(../images/image-02-mobile.png) no-repeat;
    padding: 41px 15px;
    text-align: center;
    background-color: rgb(197, 201, 206);
}
