
.house-header {
    display: flex;
    justify-content: space-between;
    padding: 28px 15px;
    font-weight: bold;
    font-size: 24px;
}

.l-house-image {
    position: relative;
}

.link-menu{
    color: black;
    text-decoration: none;
}
.l-house-gallery {
    display: flex;
    margin: 0px;
    padding-top: 81px;
    width: 100%;
    background-position: center;
    text-align: center; 
}

@media screen and (min-width: 768px) {
    .l-house-gallery {
        padding-top: 142px;
        pointer-events:none;
    }
}

.l-house-image {
    padding: 0px;
    margin: 0px;  
}
.house-image {
    display: block;
    width: 100%;
    height: auto;
}
.house-modal {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: white;
}
.close-modal {
    cursor: pointer;
    font-size: 23px;
    float: right;
    margin: 25px 25px;
}
.house-modal.show {
    position: fixed;
    height: 4000px; 
    width: 100%;
    opacity: 1;
    z-index: 99;
}
.house-modal.hide {
    opacity: 0;
}
.modal-content {
    padding: 94px 25px 0px 25px ;
    text-align: left;
}
.modal-content p {
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 20.8px;
}
 @media screen and (min-width: 768px) {
    .house-header {
        font-size: 45px;
    }
 }

.bottom-left-text {
    position: absolute;
    bottom: 8px;
    left: 16px;
    max-width: 733px;
    color: #000;
}
.bottom-right-text {
    position: absolute;
    bottom: 8px;
    right: 16px;
    max-width: 733px;
    color: #fff;
}
.bottom-left-text, .bottom-right-text {
    display: none;
    font-size: 20px;
    line-height: 26px;
    margin: 0 36px;
    padding-bottom: 20px;
}
.bottom-left-text p, .bottom-right-text p {
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 18px;
}
@media (min-width: 768px) {
    .bottom-left-text, .bottom-right-text {
        display: block;
    }
}

.top-left-text {
    position: absolute;
    top: 50px;
    left: 16px;
    max-width: 733px;
    color: #000;
}
.top-right-text {
    position: absolute;
    top: 8px;
    right: 16px;
    max-width: 733px;
    color: #fff;
}
.top-left-text, .top-right-text {
    display: none;
    font-size: 20px;
    line-height: 26px;
    margin: 0 36px;
    padding-bottom: 20px;
}
.top-left-text p, .top-right-text p {
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 18px;
}
@media (min-width: 768px) {
    .top-left-text, .top-right-text {
        display: block;
    }
}
#open-modal4 p {
    color: white;
}