@font-face {
    font-family: "lausanne";
    src: url("fonts/Lausanne-300.otf") format("opentype"), url("fonts/Lausanne-300Italic.otf") format("opentype"), url("fonts/Lausanne-800.otf") format("opentype"), url("fonts/Lausanne-800Italic.otf") format("opentype");
}
body {
    margin: 0;
    padding: 0;
    font-family: "lausanne";
}
.stories-header {
    display: flex;
    justify-content: space-between;
    padding: 28px 15px;
    font-weight: bold;
    font-size: 24px;
}
.link-menu{
    color: black;
    text-decoration: none;
}
.gallery {
    padding-top: 23px;
    margin-bottom: 20px;
    text-align: center;
}
.stories-images {
    padding-bottom: 40px;
}
.footer-section {
    height: 727px;
    background: url(../images/image-02-mobile.png) no-repeat;
    padding: 41px 15px;
    text-align: center;
    background-color: rgb(197, 201, 206);
}