
.main-section {
    width: 100%;
    height: 900px;   
    background-image: url(../images/image-home-mobile.jpg); 
    background-position: center;
    text-align: center; 
    background-color: aqua;    
}

.home-header {
    display: flex;
    justify-content: space-between;
    padding: 28px 15px;
    font-weight: bold;
    font-size: 27px;
}
.link-menu{
    color: white;
    text-decoration: none;
}
.home-options {
    color: white;
    text-align: center;
    text: bold;
    padding-top: 105px; 
}
.options-list {
    list-style: none;
    padding-inline-start: 0px;
}
.link-options{
    color: white;
    text-decoration: none;
    font-size: 28px;
}
li {
    padding-bottom: 43px;
    font-weight: bold;
    font-size: 28px;
}

