
.house-header {
    display: flex;
    justify-content: space-between;
    padding: 28px 15px;
    font-weight: bold;
    font-size: 24px;
}

.link-menu{
    color: black;
    text-decoration: none;
}
.l-house-gallery {
    display: flex;
    margin: 0px;
    padding-top: 15px;
    width: 100%;
    background-position: center;
    text-align: center; 
}
.l-house-image {
    padding: 0px;
    margin: 0px;  
}
.house-image {
    display: block;
    width: 100%;
    height: auto;
}
.house-modal {
    display: none;
    top: 130px;
    left: 20px;
    background-color: #fff;
    height: 279px;
    width: 280px;      
}
.show {
    display: flex;
    position: fixed;
}
.modal-content {
    padding: 38px 20px 0px 20px ;
    text-align: left;
}
.modal-content p {
    padding-bottom: 0px;
}
 @media screen and (min-width: 768px) {
    .house-header {
        font-size: 45px;
    }
 }