.page-content.always-mobile-section{
    padding-bottom: 30px;
    padding-top: 81px;
    margin-top: 6px;
}
.always-mobile-container {
    padding-bottom: 40px;
}
.always-mobile-section {
    line-height: 1.35;
}
.always-mobile-header {
    display: flex;
    justify-content: space-between;
    padding: 28px 0px;
    font-weight: bold;
    font-size: 24px;
}
.link-menu {
    color: black;
    text-decoration: none;
}
.page-content{
    padding: 0px 15px;
}
.text-mobile p {
    margin-bottom: 10px;
}

.informations {
    margin-top: 42px;
}
.informations-links {
    color: black;
    text-decoration: none;
}
.informations-links:hover {
    text-decoration: underline;
}
.informations p {
    line-height: 1.35;
    padding-bottom: 24px;
    font-weight: 300;
}
.text-space {
    margin-top: 42px;
}
.desk-menu{
    font-weight: 800;
}
@media screen and (min-width: 768px) {
    .always-mobile-section {
        margin-top: 45px;
        padding: 97px 50px 0;
    }
}
@media screen and (min-width: 1200px) {
    .always-mobile-header {
        font-size: 45px;
    }
    .always-mobile-container {
        display: flex;
        font-size: 20px;
        line-height: 31.2px;
        margin-top: 32px;
        padding-bottom: 45px;
    }
    .text-mobile {
        width: 70%;
        margin-right: 14px;
        padding: 0px;
    }
    .text-mobile p {
        margin-bottom: 18px;
    }
    .text-space {
        margin-top: 60px;
    }
    .informations {
        padding: 0px;
        margin-top: 0px;
        margin-left: 44px;
    }
}
