
.stories-header {
    display: flex;
    justify-content: space-between;
    padding: 28px 15px;
    font-weight: bold;
    font-size: 24px;
}
.link-menu{
    color: black;
    text-decoration: none;
}
.l-gallery {
    
    margin: 18px 15px 15px 15px;
    text-align: center;
}
.stories-image {
    padding-bottom: 40px;
    width: 100%;
    
}
.stories-modal-left01 {
    display: none;
    background-color: #F356AB;
    top: 0;
    left: 0;
    height: 4000px;       
}
.stories-modal-right01 {
    display: none;
    background-color: #FBF341;
    top: 0;
    left: 0;
    height: 4000px;       
}
.show {
    display: flex;
    position: fixed;
}
.modal-content {
    padding: 25px;
    text-align: left;
}
.close-modal {
    float: right;

}
.modal-content p {
    padding-top: 70px ;
}
@media screen and (min-width: 768px) {  
    .stories-header {
        font-size: 45px;
    }
    .l-gallery {
        margin: 11px 50px;
        padding: 0px;    
    }   
    .l-gallery-row {
        display: flex;
    } 
    .left01 {
        margin-right: 85px;
    }
    .right01 {
        margin-left: 85px;
        padding-top: 57px;
    }
    .left02 {
        margin-top: -57px;
        margin-right: 85px;
        padding-left: 61px;
    }
    .right02 {
        margin-left: 85px;
    }
    .left03 {
        margin-top: -57px;
        margin-right: 85px;
    }
    .right03 {
        margin-left: 24px;
    }
    .left04 {
        margin-top: -57px;
        margin-right: 85px;
    }
    .right04 {
        margin-left: 85px;
    }
    .left05 {
        margin-top: -57px;
        margin-right: 85px;
        padding-left: 61px;
    }
    .right05 {
        margin-left: 30px;
    }
    .stories-image {
        width: 100%;
        max-width: 825px;
        padding-bottom: 150px;   
    }

    .footer-section {
        margin-top: -61px;
    }
}
